body {
  background: #002B36;
  color: #93a1a1;
  font-family:Menlo;
  font-size:9pt;}
.space {
  display: inline-block;
  width: 4px;
}
.line {
  display: block;
}
.line_no {
  color: grey;
  font-size:8pt; display: inline-block; width:20px;}
.eof {
  display: none;
}
.string {
  color: #00afaf;
}
.binary_open {
  color: #859900;
}
.binary_close {
  color: #859900;
}
.fun {
  color: #859900;
}
.var {
  color: #268bd2;
}
.clause_arrow {
  color: #859900;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.comma {
  display: inline-block;
  padding-right: 5px;
}
.star {
  color: #859900;
}
.equals {
  color: #859900;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.record_type_op {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.cons {
  color: #859900;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.map_field_assoc {
  color: #859900;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.map_field_exact {
  color: #859900;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.record_name {
  color: #b58900;
}
.slash {
  color: #859900;
}
.atom {
  color: #2aa198;
}
.integer {
  color: #2aa198;
}
.float {
  color: #2aa198;
}
.double_quote {
  color: #2aa198;
}
.brace {
  color: #dc322f;
}
.bracket {
  color: #dc322f;
}
.record_hash {
  color: #b58900;
}
.module-literal {
  color: #2aa198;
}
.function{
  color: #2aa198;
}
.arity{
  color: #2aa198;
}

@font-face {
  font-family: "Menlo";
  src: url("Menlo-Regular.ttf");
}
